{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">



<body >
<div class="alienMid3">

<form action="/students/{{ person_id }}/chooseCourse/" method="post">
{% csrf_token %}


     <table class = "table table-striped tablewidth">
	{% for course in courses %}
	<tr>
		<h4>{{course.course_name}}</h4>
		<input type ="checkbox" name="{{course.id}}" value="1"><span class="picRegister">Studnets / Maximum Students are {{course.number}}/{{course.max_number}}<span></input>
	
	</tr>
	<br><hr>
{% endfor %}
	</table>
<br>
	{% if error_message %}
    	<p class="r">{{ error_message }}</p>
	{% endif %}
<input class="pic1" type="image" src="{% static "students/images/select.png" %}" alt="My image"></input>
<span><a class="picRegister" href={% url "students:detail" person_id %}><img class="pic1" src="{% static "students/images/back.png" %}" alt="Go back"></img></a></span>
</form>
</div>
</body>


