{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
<script type="text/javascript" src="{% static 'students/script.js' %}"></script>
<body>
<form action="/students/loggin/" method="post">
{% csrf_token %}
<label>Account</label>
<input type="text" name="account"></input>
<br>
<label>password</label>
<input type="password" name="password"></input>
<br>
{% if login_failed %}
    <p class="r">The username and password were incorrect</p>
{% endif %}
<input class="pic" type="image" src="{% static "students/images/log_in.png" %}" alt="My image"></input>

</form>
&nbsp;
<br>
<a href="register">
<img src="{% static "students/images/register.jpeg" %}" alt="My image"/>
</a>

{% if person_list %}
    <form action="/students/deletePerson/" method="post">
    {% csrf_token %}
        <ul>
        {% for person in person_list %}
            <li>{{ person.name }} &nbsp; {{ person.account }} &nbsp; {{ person.password }}
               &nbsp;&nbsp; <span><button type="submit" name="pID" value="{{person.id}}"><img class="icon" src={% static "students/images/delete.jpg" %}></img></button></span>
            </li>
        {% endfor %}
        </ul>
    </form>

{% else %}

    <p>No students registered.</p>

{% endif %}
</body>
