{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script type="text/javascript" src="{% static 'students/script.js' %}"></script>
<body>

<div class="alienMid">
    <form action="/students/indexLogginValid/" method="post">
    {% csrf_token %}
    <input class="form-control" type="text" name="account" placeholder="account"></input>
    <br>
    <input class="form-control" type="password" name="password" placeholder="password"></input>
    <br>
    {% if login_failed %}
        <p class="r">The username and password were incorrect</p>
    {% endif %}
    <span>
    <input class="pic" type="image" src="{% static "students/images/log_in.png" %}" alt="login"></input>
    </span>
    <span>
    <a href={% url "students:register" %}><img class="picRegister" src="{% static "students/images/register.jpeg" %}" alt="register"/></a>
    </span>
    </form>

</div>
<div class="alienMid2">
    {% if person_list %}
        <form action="/students/deletePerson/" method="post">
        {% csrf_token %}
        <table class = "tablewidth table table-striped">
            <tr>
                <th>name</th>
                <th>account</th>
                <th>password</th>
                <th>delete</th>
            </tr>
            
            {% for person in person_list %}
            <tr>
                <td>{{ person.name }} </td>
                <td>{{ person.account }} </td>
                <td>{{ person.password }} </td>
                <td><button type="submit" name="pID" value="{{person.id}}"><img class="icon" src={% static "students/images/delete.jpg" %}></img></button></td>
            </tr>
            {% endfor %}
            
        </table>
        </form>

    {% else %}

        <p>No students registered.</p>

    {% endif %}
</div>
</body>
