{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="alienMid">
<h4 class="tablewidth"> Fill in your information below </h4>
	<br>
<form action="/students/registerValid/" method="post">
	{% csrf_token %}
	<input class="form-control" type="text" name="name" placeholder="name"></input>
	<br>
	<input class="form-control" type="text" name="account" placeholder="account"></input>
	<br>
	<input class="form-control" type="password" name="password" placeholder="password"></input>
	<br>
	{% if error_message %}
    	<p class="r">{{ error_message }}</p>
	{% endif %}
	<input class="pic2" type="image" src="{% static "students/images/submit.jpg" %}" alt="submit"></input>

<form>
<a href={% url "students:index"%}><img class="pic1 picRegister" src="{% static "students/images/back.png" %}" alt="Go back"></img></a>
</form>